.footer {
  height: 57px;
  background: #1c3b55;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    & > li {
      font-size: 16px;
    }
    &:nth-child(1) {
      font-size: 24px;
    }
  }
}
.mfooter {
  height: 184px;
  background: url("./img/footer.png") center/100% 100% no-repeat;
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 26px;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    width: 579px;
    height: 64px;
    & > input {
      padding: 19px;
      color: #b9b9b9;
      font-size: $normalFont;
    }
    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 17px 48px;
      margin: 4px;
      color: white;
      font-size: $normalFont;
      background: #3a80ba;
      border-radius: 8px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px 39px;
    color: #ffffff;
    & > li {
      font-size: $normalFont;
      & > a {
        font-size: 32px;
        color: white;
      }
    }
  }
}
@media (max-width: $md1+px) {
}
@media (max-width: $md2+px) {
}
@media (max-width: 760px) {
  .mfooter {
    height: 184px;
    background: url("./img/footer.png") center/100% 100% no-repeat;
    &__form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      margin-top: 26px;
      background: #ffffff;
      border: 1px solid #f1f1f1;
      border-radius: 10px;
      width: 100%;
      height: 64px;
      & > input {
        padding: 19px;
        color: #b9b9b9;
        font-size: $normalFont;
      }
      & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 40px;
        // margin: 4px;
        color: white;
        font-size: $normalFont;
        background: #3a80ba;
        border-radius: 8px;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 32px 0px 39px;
      color: #ffffff;
      & > li {
        font-size: $normalFont;
        padding-bottom: 10px;
        & > a {
          font-size: 32px;
          color: white;
        }
      }
    }
  }
}
@media (max-width: 540px) {
  .mfooter {
    height: 184px;
    background: url("./img/footer.png") center/cover no-repeat;
    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      margin-bottom: 30px;
      & > input {
        padding: 19px;
        color: #b9b9b9;
        font-size: $normalFont;
      }
      & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 40px;
        // margin: 4px;
        color: white;
        font-size: $normalFont;
        background: #3a80ba;
        border-radius: 8px;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 32px 0px 39px;
      color: #ffffff;
      & > li {
        font-size: $normalFont;
        padding-bottom: 10px;
        & > a {
          font-size: 32px;
          color: white;
        }
      }
    }
  }
}
