.header {
  height: 72px;
  background-color: #3a80ba;
  &__title {
    padding: 10px 0 13px;
    font-size: 40px;
    color: #ffffff;
    padding: 10px 0 13px 0;
  }
}
.mheader {
  height: 655px;
  background: url("./img/headerBG.png") 0 0/100% 100% no-repeat;
  &__title {
    font-size: 40px;
    color: #ffffff;
    padding-top: 24px;
  }
  & > div > div {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    max-width: 586px;
    & > h2 {
      font-size: 48px;
      padding-top: 48px;
      line-height: 58px;
    }
    & > p {
      font-size: 20px;
      padding-top: 24px;
      line-height: 28px;
    }
    & > a {
      display: flex;
      padding: 17px 31px;
      margin-top: 32px;
      background-color: #ffffff;
      border-radius: 8px;
      color: #3a80ba;
      font-size: 16px;
      width: 155px;
    }
  }
  &__phone {
    margin: 32px 100px 0 0;
    padding-left: 220px;
    width: 321px;
    height: 561px;
    background: url("./img/phone.png") 0 0 / cover no-repeat;
  }
}

@media (max-width: 1260px) {
  .mheader {
    height: 655px;
    background: url("./img/headerBG.png") top / cover no-repeat;
    &__title {
      font-size: 30px;
      padding-top: 15px;
    }

    &__block {
      & > h2 {
        font-size: 38px;
        padding-top: 30px;
        line-height: 45px;
      }
      & > p {
        font-size: 18px;
        padding-top: 18px;
        line-height: 22px;
      }
      & > a {
        margin-top: 26px;
        font-size: $normalFont;
      }
    }
    &__phone {
      margin: 32px 60px 0 0;
      padding-left: 220px;
      width: 280px;
      height: 500px;
      background: url("./img/phone.png") 0 0 / cover no-repeat;
    }
  }
}
@media (max-width: 992px) {
  .mheader {
    height: 655px;
    background: url("./img/headerBG.png") top / cover no-repeat;
    &__title {
      font-size: 28px;
      padding-top: 13px;
    }

    &__block {
      width: 50%;
      padding-left: 15px;
      & > h2 {
        font-size: 32px;
        padding-top: 26px;
        line-height: 40px;
      }
      & > p {
        font-size: 16px;
        padding-top: 16px;
        line-height: 18px;
      }
      & > a {
        margin-top: 22px;
        font-size: $normalFont;
      }
    }
    &__phone {
      margin: 32px 60px 0 0;
      padding-left: 220px;
      width: 280px;
      height: 500px;
      background: url("./img/phone.png") 0 0 / cover no-repeat;
    }
  }
}
@media (max-width: 640px) {
  .mheader {
    height: 655px;
    background: url("./img/headerBG.png") top / cover no-repeat;
    &__title {
      font-size: 28px;
      padding-top: 13px;
    }

    &__block {
      width: 50%;
      padding-left: 15px;
      & > h2 {
        font-size: 32px;
        padding-top: 26px;
        line-height: 40px;
      }
      & > p {
        font-size: 16px;
        padding-top: 16px;
        line-height: 18px;
      }
      & > a {
        margin-top: 22px;
        font-size: $normalFont;
      }
    }
    &__phone {
      margin: 32px 60px 0 0;
      padding-left: 220px;
      width: 230px;
      height: 400px;
      background: url("./img/phone.png") 0 0 / cover no-repeat;
    }
  }
}
@media (max-width: 570px) {
  .mheader {
    height: 655px;
    background: url("./img/headerBG.png") top / cover no-repeat;
    &__title {
      font-size: 28px;
      padding-top: 13px;
    }
    & > div > div {
      flex-wrap: wrap;
    }
    &__block {
      width: 100%;
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      & > h2 {
        font-size: 32px;
        padding-top: 26px;
        line-height: 40px;
      }
      & > p {
        font-size: 16px;
        padding-top: 16px;
        line-height: 18px;
      }
      & > a {
        margin: 22px 30px 0 0;
        font-size: $normalFont;
      }
    }
    &__phone {
      // margin: 32px 50px 50px 0;
      align-content: center;
      // padding-left: 220px;
      width: 230px;
      height: 400px;
      position: absolute;
      top: 230px;
      left: 0;
      background: url("./img/phone.png") 0 0 / contain no-repeat;
    }
  }
}
