.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h2 {
    text-align: center;
    width: 500px;
    font-size: 32px;
    padding-bottom: 24px;
    line-height: 39px;
  }
  & > p {
    font-size: 20px;
    width: 780px;
    text-align: center;
    color: #7e7e7e;
    padding-bottom: 20px;
  }
  &__iconsBlock {
    padding-bottom: 108px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    & > div {
      background: #ffffff;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
      border-radius: 32px;
      width: 380px;
      height: 323px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & > div {
        width: 106px;
        height: 96px;

        display: flex;
        align-items: center;
        justify-content: center;

        & > i {
          color: #fff;

          width: 106px;
          height: 96px;
        }
      }
      & > h3 {
        font-weight: 600;
        font-size: 24px;
        padding: 40px 0 16px;
      }
      & > p {
        color: #7e7e7e;
        font-size: $normalFont;
        width: 300px;
        text-align: center;
        line-height: 142%;
      }
    }
  }
  &__icon1 {
    background: url("./img/icon1.png") 0 0/100% 100% no-repeat;
  }
  &__icon2 {
    background: url("./img/icon2.png") 0 0/100% 100% no-repeat;
    // background-color: #fff;
  }
  &__icon3 {
    background: url("./img/icon3.png") 0 0/100% 100% no-repeat;
    // color: #fff;
  }
}

@media (max-width: 992px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h2 {
      text-align: center;
      width: 90%;
      font-size: 32px;
      padding-bottom: 24px;
      line-height: 39px;
    }
    & > p {
      font-size: 20px;
      width: 80%;
      text-align: center;
      color: #7e7e7e;
      padding-bottom: 20px;
    }
    &__iconsBlock {
      padding-bottom: 108px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      & > div {
        background: #ffffff;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
        border-radius: 32px;
        width: 380px;
        height: 323px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & > div {
          width: 106px;
          height: 96px;

          & > i {
            color: #fff;
            width: 106px;
            height: 96px;
          }
        }
        & > h3 {
          font-weight: 600;
          font-size: 24px;
          padding: 40px 0 16px;
        }
        & > p {
          color: #7e7e7e;
          font-size: $normalFont;
          width: 300px;
          text-align: center;
          line-height: 120%;
        }
      }
    }
  }
}
@media (max-width: $md2+px) {
}
@media (max-width: $md3+px) {
}
