.breadcrumbs {
    display: flex;
    flex: 1 1 auto;
    padding-top: 16px;
    &>span {
        padding-right: 10px;
    }
    &>a {
        color: #cccccc;
        padding-right: 10px;
        font-size: $normalFont;
    }
}

.pagination {
    margin: 0 auto;
    &__list {
        display: flex;
        justify-content: center;
        color: #ffffff;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #3a80ba;
        border-radius: 8px;
        width: 48px;
        height: 48px;
        font-size: $normalFont;
        margin-right: 8px;
        &.active {
            color: red;
        }
    }
}

.body {
    min-height: 73vh;
    margin: 24px 0 16px;
    &>h2 {
        font-size: 32px;
        color: #1a1a1a;
        font-weight: bold;
    }
}

.table {
    width: 100%;
    border: 1px;
    border-radius: 8px;
    font-size: $normalFont;
    border-collapse: collapse;
    &__wrapper {
        margin-top: 16px;
        border: 1px solid #fff;
        border-radius: 5px;
        overflow: hidden;
    }
    &__head {
        height: 48px;
        background: #3a80ba;
        border-radius: 8px;
        color: white;
        &>tr>th {
            font-size: $normalFont;
            padding: 14px 24px;
            font-weight: normal;
            border: 1px solid #ffffff;
        }
    }
    &__body {
        text-align: center;
        &>tr:nth-child(2n) {
            background: #fbfbfb;
        }
        &:nth-child(odd) {
            background: #f1f1f1;
        }
        &>tr>td {
            padding: 6px 0;
            color: #1a1a1a;
            line-height: 20px;
        }
    }
}

@media (max-width: $md1+px) {}

@media (max-width: $md2+px) {}

@media (max-width: $md3+px) {}