$fontFamily: "Montserrat", sans-serif;

$normalFont: 16px;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@media (max-width: $md1+px) {
}
@media (max-width: $md2+px) {
  $normalFont: 12px;
}
@media (max-width: $md3+px) {
}
